# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем файлы конфигурации с секретами
.env

# Кэш и временные файлы
__pycache__/
*.py[cod]
*.sqlite3

# Файлы из IDE
.idea/
*.iml
.vscode/

# Логи и прочее
*.log